.driver-popover.driverjs-theme {
  background-color: #f1cc13;
  color: #000;
  width: 500px !important;
  min-width: 300px;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
  background-color: transparent;
  height: auto !important;
  margin-bottom: 1rem;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #000;
  font-size: 16px;
}

.driver-popover.driverjs-theme button {
  /* flex: 1; */
  text-align: center;
  background-color: #000;
  color: #ffffff;
  border: 2px solid #000;
  text-shadow: none;
  font-size: 16px;
  padding: 5px 8px;
  border-radius: 10px;
}

/* .driver-popover.driverjs-theme button:hover {
  background-color: #000;
  color: #ffffff;
} */

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #9b9b9b;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #f1cc13;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #f1cc13;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #f1cc13;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #f1cc13;
}

.driver-popover-footer {
  position: relative;
}

.driver-popover-progress-text {
  position: absolute;
  right: 45%;
}
