.carouselAndDataGridWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
  justify-content: center;
  padding: 10px;
  height: 60%;
}
img {
  width: 100%;
  border-radius: 20px;
}
